h1 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
.bottone {
  background-color: transparent;
  border: none;
  color: rgb(202, 192, 192);
}
.bottone.active {
  border: none;
  color: rgb(26, 16, 117);
}
a {
  color: rgb(202, 192, 192);
}
a:active {
  color: rgb(26, 16, 117);
}
a.active {
  color: rgb(26, 16, 117);
}
