<div id="app">
  <nav class="navbar navbar-expand navbar-ligth bg-ligth" style="padding-inline: 9%;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    position: sticky;
    background-color: #f5f5f5;
        padding-top: 1em;

  width: 100%;    z-index: 2;

    
    ">
    <a class="navbar-brand"><img width="80" alt="Angular Logo" src="../assets/logo.png.png" href="#"></a>
    
    
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="bottone"  *ngIf="showModeratorBoard || showAdminBoard" >
        <a href="/home" class="nav-link" routerLink="home"routerLinkActive="active">Home </a>


      </li>
      <li class="bottone" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin" routerLinkActive="active">tutti i quiz </a>
      </li>
      <li class="bottone" *ngIf="showModeratorBoard || showAdminBoard">
        <a href="/mod" class="nav-link" routerLink="mod" routerLinkActive="active">utenti</a>
      </li>

      <li class="bottone" *ngIf="showModeratorBoard || showAdminBoard">
        <a href="/mod" class="nav-link" routerLink="aggiungi-utente" routerLinkActive="active">aggiungi-utente</a>
      </li>
    
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="showAdminBoard || showAdminBoard" routerLink="user"routerLinkActive="active"> {{ username }} quiz </a>
      </li>

      <li class="nav-item" *ngIf="showAdminBoard">
        <a  class="nav-link"  routerLink="/quizReport" routerLinkActive="active">all reports</a>
      </li>
     
      <li class="nav-item" *ngIf="showAdminBoard || showAdminBoard">
        <a class="nav-link" routerLink="/quizUserReport" routerLinkActive="active">{{ username }} reports</a>
      </li>


   
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn && dati " routerLinkActive="active">
      
      <!-- <li class="nav-item">
        <a href="/login" class="nav-link"            routerLink="login"routerLinkActive="active">Login</a>
      </li> -->
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item"  *ngIf="showModeratorBoard || showAdminBoard">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item"  *ngIf="showModeratorBoard || showAdminBoard">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
