<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
  Profilo     <strong>{{ currentUser.username }}</strong>
    </h3>
     <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Ruoli:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
  </header>
  <!-- <p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p> -->
 
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>


<div class="container" style="margin-top: 2%;">
<h3 style="margin: 0%;"><strong>
  utenti registrati
</strong></h3>
<table style="margin: 0%;">

  <thead>
    <tr>
      <th>username</th>
      <th>email</th>
      <th>ruolo</th>
      <th>abilitato</th>
   

    </tr>
  </thead>




  <tr *ngFor="let item of alluser">

  <td>{{ item.username }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.roles[0].name }}</td>
   
    <td> <button (click)="disabledUser(item.username)" *ngIf="item.enabled">abiliatato</button>
       <button (click)="enabledUser(item.username)"  *ngIf="!item.enabled">disabilitato</button> 
    </td>




  </tr>

</table>

</div>
