/* You can add global styles to this file, and also import other style files */
h1 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.25rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  margin-top: 4%;
}
tr:hover{
  background: #38569e5e;
}
